.lmj-banner {
	color: black;
	text-align: right;
	padding: 32px;
	border-bottom: solid 2px black;
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	align-items: center;
}

.lmj-title {
	padding-left: 2px;
}

.lmj-logo {
	height: 48px;
	width: 48px;
}

.lmj-title__reco--false {
    color: black;
    text-shadow: none;
    margin-top: -10px;
}

.lmj-title__reco--true {
    color: black;
    text-shadow: none;
    margin-top: -10px;
    animation: lmj-title__reco--green infinite;
    animation-duration: 10s;
}

@keyframes lmj-title__reco--green {
    0%{color: black;}
    9%{color: rgb(95, 255, 47);
    text-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.596);}
    18%{color: black;
        text-shadow: none;}
    100%{color: black;
        text-shadow: none;}
}

